src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <apikit:config name="api-config" api="cpu-utilisation-toolkit-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\reports:api-config">
        <os:clear doc:name="Clear" doc:id="66785da1-24f6-4e2e-a89f-b53201f671aa" objectStore="Object_store-cpu-usage-reports" />
        <set-payload value="#[null]" doc:name="Set Payload" doc:id="11699692-0995-4620-849c-24958fecfca1" />
    </flow>
    <flow name="get:\cpu-metrics:api-config">
        <flow-ref doc:name="common_set-auth-vars-from-headers" doc:id="ac4abb6a-328c-439d-a8f4-c9cad39bd7f4" name="common_set-auth-vars-from-headers" />
        <flow-ref doc:name="common_set-start-end-interval-vars" doc:id="f073881a-d57c-42c6-82be-c3aa0d11d907" name="common_set-start-end-interval-vars" />
        <flow-ref doc:name="collectors_master-flow" doc:id="270c297f-921a-4db2-a680-691aba391e71" name="collectors_master-flow" />
        <ee:transform doc:name="Transform Message" doc:id="22a7b46e-a312-4ee9-9c83-652881968a08">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\reports:api-config">
        <os:retrieve-all doc:name="Retrieve all" doc:id="d0af95f0-2ba3-4294-82dd-26cd8a9485a2" objectStore="Object_store-cpu-usage-reports" />
        <ee:transform doc:name="Transform Message" doc:id="9676bf85-c0ee-4aa8-9f78-fd8ac09e8427">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload pluck ((value, key, index) -> {
    reportTimestamp: key,
    summary: value.summary,
    businessGroupLevelDetails: value.businessGroupLevelDetails
})]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\reports:application\json:api-config">
        <!-- <flow-ref doc:name="common_set-auth-vars-from-headers" doc:id="eee51d99-8d39-46f0-b52f-176b6f47ba24" name="common_set-auth-vars-from-headers"/>
		<flow-ref doc:name="common_set-start-end-interval-vars" doc:id="cc8b0d0a-ba06-456a-b791-06c7266adfe8" name="common_set-start-end-interval-vars"/>
		<flow-ref doc:name="collectors_master-flow" doc:id="6659d478-0016-4046-98ee-dd3ba1a57c9a" name="collectors_master-flow"/>
		<flow-ref doc:name="loaders_master-flow" doc:id="a23cab1f-e527-453d-804c-2eeb8062ed4d" name="loaders_master-flow" target="loadersResponse" /> -->
        <flow-ref doc:name="common_set-report-vars-from-payload" doc:id="304e21f4-8db7-48c2-bd25-bb294199aeb6" name="common_set-report-vars-from-payload" />
        <flow-ref doc:name="reports_master-flow" doc:id="84d9d415-4c43-4ed9-884a-97e8dcb41a6c" name="reports_master-flow" />
        <set-payload value="#[null]" doc:name="Set Payload" doc:id="769fa5d9-0ef8-4dc0-b8ba-c6846b750c04" />
    </flow>
    <flow name="post:\cpu-metrics:application\json:api-config">
        <flow-ref doc:name="common_set-auth-vars-from-headers" doc:id="e9875a77-262b-42ea-b839-3fe9ad5013e6" name="common_set-auth-vars-from-headers" />
        <flow-ref doc:name="common_set-start-end-interval-vars" doc:id="936c8724-7d87-4023-906d-bec99ce00b6c" name="common_set-start-end-interval-vars" />
        <flow-ref doc:name="common_set-loader-vars-from-payload" doc:id="6d00ef45-d56c-4f79-8a6a-49fb879fdbf1" name="common_set-loader-vars-from-payload" />
        <flow-ref doc:name="collectors_master-flow" doc:id="3158f386-f514-491b-ad49-df16822d7b96" name="collectors_master-flow" />
        <flow-ref doc:name="loaders_master-flow" doc:id="0e2af65e-30d4-4316-8480-226fe8f4dc6f" name="loaders_master-flow" />
        <set-payload value="#[null]" doc:name="Set Payload" doc:id="143d68a8-7951-4500-a190-38cb2d28e3d0" />
    </flow>
</mule>
